:root {
  --radius: 25px;
  --space: 20px;
  --first: #f1e1c3;
  --firstAction: rgba(241, 225, 195, 0.2);
  --firstHouver: rgba(241, 225, 195, 0.7);
  --second: #516b8b;
  --secondAction: rgba(81, 107, 139, 0.2);
  --secondHouver: rgba(81, 107, 139, 0.7);
  --danger: rgba(255, 82, 82, 0.7);
  --success: rgba(161, 235, 115, 0.7);
  --dark: #070d0d;
  --light: #d7d7d7;
  --white: #ffffff;
  --gray: #e3e3e3;
  --white10: rgba(255, 255, 255, 0.1);
  --white25: rgba(255, 255, 255, 0.25);
  --white50: rgba(255, 255, 255, 0.5);
  --white70: rgba(255, 255, 255, 0.7);
  --white90: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin"), url("../fonts/Poppins-Thin.ttf") format(truetype);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin Italic"), url("../fonts/Poppins-ThinItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Extra Light"), url("../fonts/Poppins-ExtraLight.ttf") format(truetype);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Extra Light Italic"), url("../fonts/Poppins-ExtraLightItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), url("../fonts/Poppins-Light.ttf") format(truetype);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), url("../fonts/Poppins-LightItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), url("../fonts/Poppins-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular Italic"), url("../fonts/Poppins-Italic.ttf") format(truetype);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), url("../fonts/Poppins-Medium.ttf") format(truetype);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), url("../fonts/Poppins-MediumItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), url("../fonts/Poppins-SemiBold.ttf") format(truetype);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), url("../fonts/Poppins-SemiBoldItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), url("../fonts/Poppins-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), url("../fonts/Poppins-BoldItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Extra Bold"), url("../fonts/Poppins-ExtraBold.ttf") format(truetype);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), url("../fonts/Poppins-BoldItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), url("../fonts/Poppins-Black.ttf") format(truetype);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), url("../fonts/Poppins-BlackItalic.ttf") format(truetype);
  font-style: italic;
  font-weight: 900;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--first);
  margin: 0;
  padding: 0;
  display: flex;
}

.btn.btn-white {
  width: 230px;
  height: 50px;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--white);
  padding: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px var(--light);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn.btn-white:hover {
  color: var(--white70);
  border: 2px solid var(--white70);
  box-shadow: 0 0 10px var(--white50);
}
.btn.btn-white:active {
  color: var(--white50);
  border: 2px solid var(--white50);
  box-shadow: 0 0 10px var(--white25);
}
.btn.btn-white:disabled {
  cursor: no-drop;
  color: var(--white25);
  border: 2px solid var(--white10);
}

.btn.btn-blue {
  width: 230px;
  height: 50px;
  border: 2px solid var(--white);
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--white);
  padding: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px var(--light);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  color: var(--second);
  border: 2px solid var(--second);
  box-shadow: 0 0 10px var(--light);
}
.btn.btn-blue:hover {
  color: var(--white70);
  border: 2px solid var(--white70);
  box-shadow: 0 0 10px var(--white50);
}
.btn.btn-blue:active {
  color: var(--white50);
  border: 2px solid var(--white50);
  box-shadow: 0 0 10px var(--white25);
}
.btn.btn-blue:disabled {
  cursor: no-drop;
  color: var(--white25);
  border: 2px solid var(--white10);
}
.btn.btn-blue:hover {
  color: var(--secondHouver);
  border: 2px solid var(--secondHouver);
  box-shadow: 0 0 10px var(--white50);
}
.btn.btn-blue:active {
  color: var(--secondAction);
  border: 2px solid var(--secondAction);
  box-shadow: 0 0 10px var(--white25);
}
.btn.btn-blue:disabled {
  cursor: no-drop;
  opacity: 0.7;
}

input {
  background-color: transparent;
  min-width: 270px;
  height: 50px;
  border: 2px solid var(--second);
  border-radius: var(--radius);
  padding: 5px;
  padding-left: 70px;
  color: var(--second);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}
input:focus {
  min-width: 300px;
  border: 2px solid var(--secondAction);
  border-radius: var(--radius);
  outline: none;
}
input:focus + label {
  color: var(--secondAction);
}
input[readonly] {
  border: none;
  color: var(--second);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0;
}
input[readonly] + label {
  color: var(--second);
}

textarea {
  background-color: transparent;
  min-width: 270px;
  height: 150px;
  border: 2px solid var(--second);
  border-radius: var(--radius);
  padding: 5px;
  padding-left: 70px;
  color: var(--second);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
}
textarea:focus {
  min-width: 300px;
  border: 2px solid var(--secondAction);
  border-radius: var(--radius);
}
textarea[readonly] {
  border: none;
  color: var(--second);
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
