$dark: #070d0d;
$light: #d7d7d7;
$white: #ffffff;
$gray: #e3e3e3;

$white10: rgba($white, 0.1);
$white25: rgba($white, 0.25);
$white50: rgba($white, 0.5);
$white70: rgba($white, 0.7);
$white90: rgba($white, 0.9);

$theme: primary;
$first: #f1e1c3;
$firstHouver: rgba($first, 0.7);
$firstAction: rgba($first, 0.2);

$second: #516b8b;
$secondHouver: rgba($second, 0.7);
$secondAction: rgba($second, 0.2);

$third: #516b8b;
$fourth: #f1e1c3;
$fifth: #ff5252;

$danger: rgba(#ff5252, 0.7);
$success: rgba(#a1eb73, 0.7);
