@use "colors";
@use "vars";
@use "fonts";

@mixin buttonWhite {
  width: 230px;
  height: 50px;
  border: 2px solid colors.$white;
  border-radius: vars.$radius;
  background-color: transparent;
  color: colors.$white;
  padding: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 10px colors.$light;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  &:hover {
    color: colors.$white70;
    border: 2px solid colors.$white70;
    box-shadow: 0 0 10px colors.$white50;
  }
  &:active {
    color: colors.$white50;
    border: 2px solid colors.$white50;
    box-shadow: 0 0 10px colors.$white25;
  }
  &:disabled {
    cursor: no-drop;
    color: colors.$white25;
    border: 2px solid colors.$white10;
  }
}

@mixin buttonBlue {
  @include buttonWhite;
  max-width: 210px;
  color: colors.$second;
  border: 2px solid colors.$second;
  box-shadow: 0 0 10px colors.$light;
  &:hover {
    color: colors.$secondHouver;
    border: 2px solid colors.$secondHouver;
    box-shadow: 0 0 10px colors.$white50;
  }
  &:active {
    color: colors.$secondAction;
    border: 2px solid colors.$secondAction;
    box-shadow: 0 0 10px colors.$white25;
  }
  &:disabled {
    cursor: no-drop;
    opacity: 0.7;
  }
}

@mixin input {
  background-color: transparent;
  min-width: 270px;
  height: 50px;
  border: 2px solid colors.$second;
  border-radius: vars.$radius;
  padding-top: 15px;
  padding-left: 30px;
  color: colors.$second;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  + label {
    color: colors.$second;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    background-color: colors.$first;
  }
  &:focus {
    min-width: 270px;
    border: 2px solid colors.$secondHouver;
    border-radius: vars.$radius;
    outline: none;
  }
  &[readonly] {
    border: none;
    color: colors.$second;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 0;
  }
}

@mixin textarea {
  background-color: transparent;
  min-width: 270px;
  height: 150px;
  border: 2px solid colors.$second;
  border-radius: vars.$radius;
  padding-top: 30px;
  padding-left: 30px;
  color: colors.$second;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  + label {
    color: colors.$second;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    background-color: colors.$first;
  }
  &:focus {
    min-width: 270px;
    border: 2px solid colors.$secondHouver;
    border-radius: vars.$radius;
    outline: none;
  }
  &[readonly] {
    border: none;
    color: colors.$second;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 0;
  }
}
