@use "mixins";
@use "colors";
@use "vars";
@use "fonts";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: colors.$first;
  margin: 0;
  padding: 0;
}

body,
div,
article,
aside,
footer,
header,
main,
nav,
section,
ul,
ol,
li,
button,
figure,
picture,
hr,
form {
  display: flex;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn.btn-white {
  @include mixins.buttonWhite;
}

.btn.btn-blue {
  @include mixins.buttonBlue;
}

input {
  @include mixins.input;
  z-index: 1;
}
textarea {
  @include mixins.textarea;
}

main {
  min-height: calc(100vh - 450px);
  @media (min-width: vars.$desktopWidth) {
    min-height: calc(100vh - 550px);
  }
}
